<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Node.js</title>

  <link rel="dns-prefetch" href="http://fonts.googleapis.com">
  <link rel="dns-prefetch" href="http://fonts.gstatic.com">
  <link rel="dns-prefetch" href="http://www.google-analytics.com">

  <meta name="author" content="Node.js Foundation">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/milligram.min.css" media="all">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67020396-2', 'auto');
    ga('send', 'pageview');
  </script>

  <style>
    a {
      color: #80bd01;
    }
    .button {
      background-color: #80bd01;
      border: 0.1rem solid #80bd01;
    }
    div.live-event {
      background-color: #b3b3b3;
      border-radius: 3px;
      margin: 10px 35px 10px 35px;
      color: black;
      font-family: "Open Sans Condensed",sans-serif;
      text-transform: uppercase;
      font-weight: bold;
    }
    div.live-event h3 {
      margin-top:5px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
    }
    div.live-event h3 a,
    div.live-event h3 a:visited {
      text-decoration: underline;
      color: black;
    }
    div.live-event p {
      margin-bottom: 5px;
    }
    body {
      margin: 0;
      padding: 0;
    }

    div.top-container div.column h2 {
     padding-top:50px;
     color:#80bd01;
     font-weight:500;
    }
    div.events-container {
      margin: 0;
      padding: 30px 10%;
      background: url(static/background.jpg);
    }
    div.footer-container {
      background-color:#b3b3b3;
      padding:15px;
    }
    div.footer-container a {
      color:#fff;
      white-space: nowrap;
    }
    div.footer-container p {
      margin-bottom:0;
    }
    img.logo {
      max-width:100%;
      padding: 50px 50px 50px 50px;
    }
  </style>
</head>
<body>
  <div class="top-container container">
    <div class="row">
      <div class="column" style="text-align:center">
        <img class="logo" src="/static/new-node.png" alt=""/>
      </div>
      <div class="column">
        <h2>Node.js Live</h2>
        <p>The Node.js Foundation is kicking off a series of global events bringing together local Node.js developer around the world.</p>
        <p>Each event is different and tailored to the local community varying in length and in some cases in parnership with local Node.js groups and users.</p>
      </div>
    </div>
  </div>

  <div class="events-container">
    {{{content}}}
  </div>

  <div class="footer-container">
    <div class="container">
      <p>© 2016 Node.js Foundation. All Rights Reserved. Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the <a href="https://nodejs.org/static/documents/trademark-policy.pdf">Trademark Guidelines of the Node.js Foundation</a>.</p>
    </div>
  </div>
</body>
</html>